* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    background-color: rgb(233, 233, 233);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}
header {
    position: relative;
    max-width: 773px;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    gap: 10px;
    transition: 0.3s cubic-bezier(0, 0.74, 0, 1.13);
}
header.style8  {
    padding: 0 0 10px 0;
}
header.active {
    width: calc(100% - 0px);
}
header.shrink {
    width: calc(100% - 100% + 48px);
}
.inner-wrapper.shrink {
    display: none;
}
.style7 .inner-wrapper {
    border-radius: 10px;
    background-color: #f0f2f5;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93%;
}
.style8 .inner-wrapper {
    border-radius: 0px;
    background-color: #f0f2f5;
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -2px 10px rgba(0, 0, 0, 0.1);
}
.indicator {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    transition: 0.3s cubic-bezier(0, 0.74, 0, 1.13);
}
.style1 .indicator {
    background: #e9f5ff;
    border-radius: 30px;
}
.style2 .indicator {
    background: linear-gradient(90deg, #7ac1ff, #0f36e0);
    width: unset;
    z-index: 1;
}
.style3 .indicator {
    width: 6px;
    height: 6px;
    padding: 0;
    background: #0088ff;
    border-radius: 50%;
    top: unset;
    bottom: -6px;
}
.style4 .indicator {
    border-bottom: 3px solid #0088ff;
    top: 10px;
    border-radius: 0px;
    padding: 0;
}
.style5 .indicator {
    background: #e9f5ff;
    border-radius: 5px;
}
.style6 .indicator {
    border-bottom: 3px solid #0088ff;
    top: 10px;
    border-radius: 5px;
    border-radius: 0;
    padding: 0;
}
.style7 .indicator {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #9a9a9a7c;
}
.style8 .indicator {
    background: #ffffff;
    border-radius: 10px 10px 0 0;
}
.hamburger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-icon {
    width: 24px;
    height: 24px;
    background-color: #8b8b8b;
    mask: url(/assets/svg/hamburger.svg) no-repeat center;
    mask-size: contain;
}
ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0;
    z-index: 2;
}
ul li {
    padding: 8px 18px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 600;
    color: #8b8b8b;
    transition: 0.3s;
}
.style4 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    padding: 8px 22.75px;
}
.style5 ul li, .style6 ul li, .style7 ul li, .style8 ul li {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    transition: 0.3s cubic-bezier(0, 0.74, 0, 1.13);
}
.style1 ul li.active, .style3 ul li.active, .style4 ul li.active, .style5 ul li.active, .style6 ul li.active, .style7 ul li.active, .style8 ul li.active {
    color: #0088ff;
}
.style2 ul li.active {
    color: #ffffff;
}
ul li.active .icon {
    background-color: #0088ff;
}
.icon {
    --icon-url: url("/");
    width: 24px;
    height: 24px;
    background-color: #8b8b8b;
    -webkit-mask: var(--icon-url) no-repeat center;
    mask: var(--icon-url) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    transition: 0.3s;
}
.all {
    --icon-url: url(/assets/svg/all.svg)
}

.news {
    --icon-url: url(/assets/svg/news.svg)
}

.fire {
    --icon-url: url(/assets/svg/fire.svg)
}

.heart {
    --icon-url: url(/assets/svg/heart.svg)
}

.person {
    --icon-url: url(/assets/svg/person.svg)
}

.star {
    --icon-url: url(/assets/svg/star.svg)
}
